%project.uri% {

    root * /srv/www/%project.name%
    file_server
    tls internal

    php_fastcgi %project.name%-app:9000 {
        root /var/www/site
    }

    log {
        output file /var/log/caddy/%project.name%.access.log
        format console
    }

}

