%project.uri%, behat.%project.uri% {

    root * /srv/www/%project.name%%project.path%
    file_server
    tls internal

    php_fastcgi %project.name%-app:9000 {
        root /app%project.path%
    }

    log {
        output file /var/log/caddy/%project.name%.access.log
        format console
    }

}

