<?php
class QuickDev
{
    public static function log($value): void
    {
        global $CFG;
        $f = fopen($CFG->dataroot . '/quick-dev.log', 'a+');
        fwrite($f, print_r($value, true) . "\n");
        fclose($f);
    }
}

require_once 'vendor/autoload.php';